<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>App uses heart rate data in order to determine breathing rate for you</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>physical-therapy</string>
		<string>workout-processing</string>
	</array>
	<key>WKSupportsAlwaysOnDisplay</key>
	<true/>
</dict>
</plist>
